body{
    background-color: purple;
}
header{
    background-color: lightblue;
}
.container{
    background-color: white;
    width: 960px;
    margin: auto;
}
h1{
    font-family: Sixtyfour Convergence;
}
a{
    color: black;
    text-decoration: none;
}
footer{
    background-color: lightblue;
}
input{
    height: 40px;
    width: 925px;
    margin: auto;
}
input:focus{
    background-color: lightblue;
}
textarea:focus{
    background-color: lightblue;
}