body{
    background-color: purple;
}
header{
    background-color: lightblue;
}
.container{
    background-color: white;
    width: 50%;
    margin: auto;
}
h1{
    font-family: Sixtyfour Convergence;
}
a{
    color: black;
    text-decoration: none;
}
footer{
    background-color: lightblue;
}
input{
    height: 40px;
    width: 100%;
    margin: auto;
}
input:focus{
    background-color: lightblue;
}
textarea:focus{
    background-color: lightblue;
}
textarea{
    width: 100%;
}
fieldset{
    width: 90%;
    margin: auto;
    border: 2px solid;
}
